|===
|Path|Type|Description|Optional|Constraint

{{#fields}}
|{{path}}
|{{type}}
|{{description}}
|{{#optional}}Y{{/optional}}
|{{#constraint}} {{.}} {{/constraint}}
{{/fields}}
|===

//mustache 문법 구글에 찾아봐야 한다.